body{
    /* background-image: url('https://i.pinimg.com/1200x/08/ef/fc/08effcada999d99296809c4a3189d92d.jpg'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    font-family: "Merriweather Sans",sans-serif;
}

#encabezado{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column; 
      
}

#encabezado h5{
    color: white;
}

#navbarSupportedContent .nav-link{
    color:white;
    /* width: 150px; */
}


/* Product fondo */

.content-background {
    background-image: url('https://i.pinimg.com/1200x/08/ef/fc/08effcada999d99296809c4a3189d92d.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 20px; /* para que no quede pegado */
}



.form-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-image: url('https://i.pinimg.com/1200x/53/e8/56/53e85659e49afe148922bbfaff4defe4.jpg');
    background-size: cover;
    background-position: center;
  }

  .form-container {
    background: white;
    border-radius: 15px;
    padding: 30px;
    max-width: 800px;
    width: 100%;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
  }

  .card-container {
    max-width: 900px; /* contenedor más pequeño */
  }

  .custom-card {
    position: relative;
    overflow: visible; /* deja que la imagen sobresalga */
    border-radius: 15px;
    margin: 15px;
  }

  .img-wrapper {
    position: relative;
    top: -40px; /* la imagen sobresale del card */
    display: flex;
    justify-content: center;
  }

  .card-img-top {
    width: 150px;
    height: auto;
  }

  .card-body {
    margin-top: -20px; /* ajusta para que no se vea raro */
  }

  .btn-buy {
    display: inline-block;
    background-color: #007bff; 
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
  }

  .btn-buy:hover {
    background-color: #0056b3;
    color: white;
  }

  /* Scroll suave */
  html {
    scroll-behavior: smooth;
  }


/* Section y animacion */

.about-container {
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 30px;
  padding: 40px;
}

.aboutUs {
  background: white;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  max-width: 50%;
}

#animation img {
  animation: float 3s ease-in-out infinite;
}

/* Animación para que suba y baje */
@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-30px); }
  100% { transform: translateY(0px); }
}

/* fondo de about us */

.about-container {
  background-image: url('https://i.pinimg.com/1200x/a4/62/b9/a462b94097bad71b5a386fdea4c4e82f.jpg'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
 
}


/* footer */
footer{
background-color: black;
}